@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
body {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans', sans-serif;
}

input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    width: 100%;
}

.search {
    display: flex;
    padding: 20px;
}

.btn {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.logo {
    user-select: none;
    margin: 20px;
    color: white;
}

.header {
    flex: 1;
    background-color: #555;
}

.content {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.main {
    flex: 9;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.info{
    display: flex;
    flex-direction: row;
    flex:1;
    padding: 20px;
}

.container{
    flex: 5;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

#map, .weather, .text, .buttons{
    flex:1
}

@media all and (max-width: 600px){
    .info, .container{
        flex-direction: column;
        text-align: center;
    }
    .weather, .text{
        order: 2;
    }
    .content{
        padding: 5px;
    }
    .logo{
        margin: 20px 0;
    }
}